body {
  margin: 0;
  padding: 0;
  font-family:"Open Sans", sans-serif;
}

/* primary background : #6B3074
  primary content : #D8E0BB
  secondary background : #7268A6
  secondary content : #B6CEC7
  middle color : #86A3C3
*/